.advantages {
  padding-bottom: 30px;
}

.advantages__wrapper {
  padding: 0 20px;
}

.advantages__title {
  margin-top: 9px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: start;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 193px;
    text-align: center;

    &--food {
      width: 155px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 292px;

    &--souvenir-wide {
      width: 280px;
    }

    br {
      display: block;
    }
  }
}

.advantages__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.advantages__item {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;

    &--souvenir-last {
      order: 3;
    }
  }
}

.advantages__item-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.advantages__item img {
  position: absolute;
  display: block;

  @media (min-width: $tablet-width) {
    position: static;
    width: 75px;
    height: 72px;
  }
}
