.contacts {
  flex-direction: column;
  display: flex;
  order: -1;

  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
}

.contacts__title {
  padding-top: 20px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 46px;
    padding-right: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 62px;
  }
}

.contacts__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: start;
  padding-bottom: 8px;
  position: relative;
  padding-left: 22px;
}

.contacts__input {
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  font-weight: 700;
  border: none;
  background-color: $extralight-grey;
  margin-bottom: 20px;
  padding-top: 18px;
  padding-left: 22px;
  padding-bottom: 14px;
  position: relative;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: $disabled;
  }

  &:focus {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    width: 590px;
  }

  @media (min-width: $desktop-width) {
    width: 257px;
  }
}


.contacts__block {
  position: relative;
  transform: translate(-2px, 10px);

  &:last-child {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 56px;
  }
}

.contacts__block::after {
  position: absolute;
  background-color: $grey;
  width: 58px;
  height: 58px;
  padding: 21px;
  right: 0;

  @media (min-width: $tablet-width) {
    right: unset;
  }
}

.contacts__block--phone::after {
  content: url("../img/phone.svg");
}

.contacts__block--email::after {
  content: url("../img/mail.svg");
}

.contacts__label-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
