.emotion {
  border: none;
}

.emotion__textarea {
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  text-align: start;
  font-weight: 700;
  color: $black;
  border: none;
  background-color: $extralight-grey;
  padding: 13px 23px 29px 21px;
  height: 160px;
  width: 100%;

  &:hover {
    background-color: $disabled;
  }

  &:focus {
    background-color: $white;
  }
}

.emotion__title {
  padding-top: 60px;
  padding-bottom: 15px;
}
