.feedback {
  border-bottom: 1px solid $line-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.feedback__feedback-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.feedback__title {
  margin-top: 36px;
}

.feedback__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    max-width: 443px;
    margin: 0 auto;
  }
}

.feedback__personal-impression {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
}

.feedback__fieldset {
  border: none;
  border-bottom: 1px solid $line-grey;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: 100%;
    border-top: 1px solid $line-grey;
  }
}

