.hotel-search {
  text-align: center;
}

.hotel-search__title {
  font-size: 21px;
  line-height: 18px;
  margin-top: 33px;
}

.hotel-search__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  max-width: 435px;
  margin: 0 auto;
  margin-bottom: 27px;
}

.hotel-search__button {
  padding: 15px 32px 18px;
  display: inline-block;
  margin-bottom: 49px;
}

