.intro {
  padding-top: 32px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 52px;
  }
}

.intro__slogan {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    font-size: 21px;

    &--foto {
      font-size: 30px;
      margin-top: 60px;

      @media (min-width: $desktop-width) {
        margin-top: 102px;
      }
    }
  }
}

.intro__reasons {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;

  &--foto {
    @media (min-width: $tablet-width) {
      max-width: 458px;
      margin: 0 auto;
      margin-bottom: 65px;
      padding: 0 10px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }
}
