.intro {
  padding-top: 32px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 52px;
  }
}

.intro__slogan {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    font-size: 21px;
  }
}

.intro__reasons {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}
