.likes__button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
  }
}

.likes__counter {
  margin-left: 14px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 9px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 4px;
  }
}

.likes {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.likes__img {
  fill: $black;

  @media (min-width: $desktop-width) {
    fill: $white;
  }
}
