.modal__title-failure {
  margin-top: 40px;
}

.modal__text-failure {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  width: 237px;
  margin: 0 auto;
  padding-bottom: 22px;
}

.modal__button-failure {
  padding: 18px 64px 14px 63px;
  margin-bottom: 35px;
}
