.no-doubt__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 28px;
}

.no-doubt__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-left: 28px;
  margin-right: 26px;
}

.no-doubt__video {
  background-image: url("../img/volume-slider-s.svg"), url("../img/volume-scale-s.svg"), url("../img/grey-bar-s.svg"), url("../img/video-s.jpg");
  background-position: 30% 173px, center 177px, center bottom, center bottom;
  background-repeat: no-repeat;
  height: 201px;
}

.no-doubt__bar {
  background-image: url("../img/replay-s.svg"), url("../img/subtitles-s.svg"), url("../img/fullscreen-s.svg"), url("../img/lightgrey-bar-s.svg");
  background-position: 20% center, 60% center, 80% center, center top;
  background-repeat: no-repeat;
  height: 66px;
}
