.other-features {
  background-color: $colorlightgrey;
  text-align: center;
}

.other-feature-list__title {
  font-size: 18px;
  line-height: 26px;
}

.other-feature-list__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.other-features__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
