.other-features {
  background-color: $lightgrey;
  text-align: center;
}

.other-features__wrapper {
  padding: 0 31px;
}

.other-features__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    max-width: 130px;
    margin: 0 auto;
  }
}

.other-features__text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 176px;

    &--line {
      max-width: 147px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 284px;

    &--line {
      max-width: 276px;
    }
  }
}

.other-features__number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.other-features__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.other-features__item {
  padding-bottom: 20px;
  border-bottom: 1px solid#D6D6D6;

  &:last-child {
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}
