.personal {
  order: -1;

  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.personal__wrapper {
  display: flex;
  justify-content: space-between;

  input &:nth-last-child {
    margin-bottom: 25px;
  }
}

.personal input:last-child {
  margin-bottom: 25px;
}

.personal__title {
  margin-bottom: 19px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 58px;
  }
}

.personal__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-right: 20px;
  padding-top: 19px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-left: 58px;
  }
}

.personal__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $extralight-grey;
  border: 4px solid transparent;
  flex-grow: 2;
  padding-top: 18px;
  padding-left: 22px;
  padding-bottom: 14px;
  margin-bottom: 20px;
  min-width: 0;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: $disabled;
  }

  &:focus {
    background-color: $white;
    border-color: $disabled;
    outline: none;
  }
}
