.sights__list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 75px 0 100px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto auto;
    margin: 0;
  }
}

.sights__title {
  padding-top: 15px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.sights__label {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  padding-bottom: 54px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.sights__option {
  text-align: start;
  position: relative;
}

.sights__input-checkbox {
  display: none;
}

.sights__input-checkbox + label {
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin-right: 26px;
    border-radius: 1%;
    background-repeat: no-repeat;
    background-color: $extralight-grey;
  }
}

.sights__input-checkbox:checked + label {
  &::before {
    background-image: url("../img/tick.svg");
    background-size: 23px 17px;
    background-position: center;
  }
}
