.sights {
  border: none;
}

.sights__title {
  padding-top: 14px;
  padding-bottom: 36px;
}

.sights__label {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.sights__option {
  text-align: start;
}

