.welcome-foto {
  height: 333px;
  background-color: $down-blue;
  background-image: url("../img/intro-triangle.svg"), url("../img/text-index.svg"), url("../img/back-s.jpg");
  background-position: center bottom, center 52px, center -38px;
  background-repeat: no-repeat;
}
