html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  min-height: 100%;
  background: $white;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1200px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-style {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container-wrap {
  padding: 0 20px;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  border: none;

  &:hover,
  &:focus {
    background-color: $hover-blue;
  }

  &:active {
    background-color: $down-blue;
    color: rgba(255, 255, 255, 0.3);
  }

  &[disabled] {
    background-color: $disabled;
  }
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: $black;
}

.form-common-title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
}

.form-common-title::before {
  content: "";
  position: absolute;
  top: 28px;
  right: 100px;
  width: 320px;
  height: 1px;
  background-color: $disabled;
  transform: translateX(-50%);
}

fieldset {
  margin: 0;
  padding: 0;
}
